/* common */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul,
ol {
    list-style-type: none;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p{
margin:0;
padding:0;
}

a {
    text-decoration: none;
}
/* header*/
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-items: center;
    margin-right: 76px;
}

.header-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    /* margin-right: 76px; */

}

.header-nav-list {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    justify-content: flex-start;
    padding-right: 332px;
}

.header-nav-item {
    padding: 24px 0px;
}

.header-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 16px;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;

}

/* header-address */
.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {}

.address-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}


/* hover-focus */
a:focus {
    color: #404bbf;
}

a:hover {
    color: #404bbf;
}
/*end header*/

/*solution*/
.solution {
background-color:#2e2f42;
}
.position-items{
padding-bottom: 188px;
}
.logo-solution {
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    font-size: 56px;
    padding-top:188px;
    max-width: 496px;
    margin: 0 auto;
}

.button-solution:hover,
.button-solution:focus{
background-color: #404BBF;
}
.button-solution{
    display: block;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.button-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
}

/*endsolution*/

/*advantages*/
.main-logo-advantages{
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.Advantages-list{ 
display:flex;
gap:28px;
padding:128px 0 ;
}
.logo-advantages {
display:flex;
flex-direction: row;
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom:8px;
    
}
 .about {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }
 /*endadvantages*/

 /*our team*/
.logo-team {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
    margin: 0px auto;
}
.team-list{
display: flex;
gap: 24px;
padding-bottom: 120px;
}
.our-team {
background-color: #f4f4fd;
}
.workers {
background-color:#FFFFFF ;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.team-block{
padding:32px 26px;
text-align: center;
}
.names-ourteam {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom:8px;
}
.text-ourteam {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* endour team*/

/* ourportfolio*/
.logo-portfolio {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
    margin: 0px auto;
}
.items-portfolio{
display: flex;
gap: 24px;
flex-wrap: wrap;
padding-bottom: 120px;
}
.first-row-portfolio{
padding-bottom:48px;
}
.second-row-portfolio{

}
.position-text-portfolio{
padding: 32px 16px;
border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.name-portfolio{
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.text-portfolio{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* endourportfolio*/

/*footer*/
.footer {
background-color:#2e2f42 ;
}
.footer-content{
    padding: 100px 0;
    
}
.text-footer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}
.footer-logo .logo-part {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
font-family: "Raleway", sans-serif;
}

.footer-logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
            text-decoration: none;
                margin-bottom: 18px;
                display: inline-block;
}
/*endfooter*/